.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 80vh;
}

.outerBox {
  display: flex;
  flex-direction: row;
}

.graphContainer {
  height: 400px;
  width: 800px;
  box-shadow: 0px 0px 10px 10px #eee;
  background-color: white;
  border-radius: 6px;
  padding: 40px;
  margin: 20px;
}

.donutContainer {
  width: 452px;
  box-shadow: 0px 0px 10px 10px #eee;
  background-color: white;
  border-radius: 6px;
  padding: 40px 80px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  color: rgba(146, 146, 146, 0.8);
}

.lineContainer {
  width: 600px;
  box-shadow: 0px 0px 10px 10px #eee;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
}

.donuts {
  display: flex;
}

#testChart {
  height: 360px;
  width: 700px;
}
